In [1]:
import dask.dataframe as dd

In [2]:
filename = '../data/Chicago-crimes-2017.csv'
df = dd.read_csv(filename, dtype='str')

In [5]:
df.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11007009,JA335947,7/4/2017 23:50,005XX W PEARSON ST,460,BATTERY,SIMPLE,RESIDENTIAL YARD (FRONT/BACK),FALSE,FALSE,...,27,8,08B,1172479,1905946,2017,7/11/2017 15:48,41.89735911,-87.64195001,"(41.897359112, -87.641950014)"
1,11005864,JA334658,7/4/2017 23:46,053XX W HIRSCH ST,460,BATTERY,SIMPLE,SIDEWALK,FALSE,FALSE,...,37,25,08B,1140517,1908799,2017,7/11/2017 15:48,41.90583487,-87.75927314,"(41.905834871, -87.759273141)"
2,11006033,JA334665,7/4/2017 23:45,077XX S DOBSON AVE,031A,ROBBERY,ARMED: HANDGUN,STREET,FALSE,FALSE,...,8,69,3,1184561,1854001,2017,7/11/2017 15:48,41.75454288,-87.59920533,"(41.754542876, -87.59920533)"
3,11005885,JA334697,7/4/2017 23:45,007XX S CICERO AVE,326,ROBBERY,AGGRAVATED VEHICULAR HIJACKING,GAS STATION,FALSE,FALSE,...,24,25,3,1144514,1896053,2017,7/11/2017 15:48,41.87078402,-87.74491162,"(41.870784018, -87.744911622)"
4,11005881,JA334776,7/4/2017 23:45,027XX N HAMPDEN CT,486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,FALSE,TRUE,...,43,7,08B,1172397,1918341,2017,7/11/2017 15:48,41.93137342,-87.64188416,"(41.931373416, -87.641884161)"

In [6]:
df.tail(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
130128,10801101,JA100031,1/1/2017 0:00,074XX S SOUTH CHICAGO AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,FALSE,FALSE,...,5,69,14,1185080,1855952,2017,2/14/2017 15:49,41.75988444,-87.5972422,"(41.759884442, -87.5972422)"
130129,10801862,JA100930,1/1/2017 0:00,079XX S RACINE AVE,281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,FALSE,FALSE,...,21,71,2,1169694,1852368,2017,2/14/2017 15:49,41.75039691,-87.65373544,"(41.750396912, -87.653735437)"
130130,10801801,JA100731,1/1/2017 0:00,086XX S VERNON AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,FALSE,FALSE,...,6,44,14,1180868,1847755,2017,2/14/2017 15:49,41.73748883,-87.61293055,"(41.737488826, -87.612930551)"
130131,10802448,JA101652,1/1/2017 0:00,006XX W 62ND ST,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE-GARAGE,FALSE,FALSE,...,16,68,14,1173000,1863775,2017,2/14/2017 15:49,41.78162679,-87.64128444,"(41.781626794, -87.641284443)"
130132,10802691,JA101951,1/1/2017 0:00,035XX N CLARK ST,890,THEFT,FROM BUILDING,BAR OR TAVERN,FALSE,FALSE,...,44,6,6,NaN,NaN,2017,1/8/2017 15:48,NaN,NaN,NaN