In [1]:
import numpy as np
import pandas as pd
import dask.dataframe as dd

In [24]:
# load csv data into dask df
file_name = '../raw_data/Crimes_-_2017.csv' # data/Chicago-crimes-2017.csv'
df = dd.read_csv(file_name, 
                 error_bad_lines=False,
                 assume_missing=True, # dtype={'Ward': int}) #dtype='str')
                 parse_dates=['Date'], infer_datetime_format=True)

In [25]:
%%time
# log records count and load data partitions
print("{:,} total records in {} partitions".format(len(df), df.npartitions))

130,133 total records in 1 partitions
Wall time: 52.2 s

In [26]:
# drop duplicates
df.drop_duplicates(subset=['ID', 'Case Number'], inplace=True)

Dask DataFrame Structure:
                    ID Case Number            Date   Block    IUCR Primary Type Description Location Description Arrest Domestic     Beat District     Ward Community Area FBI Code X Coordinate Y Coordinate     Year Updated On Latitude Longitude Location
npartitions=1
None           float64      object  datetime64[ns]  object  object       object      object               object   bool     bool  float64  float64  float64        float64   object      float64      float64  float64     object  float64   float64   object
None               ...         ...             ...     ...     ...          ...         ...                  ...    ...      ...      ...      ...      ...            ...      ...          ...          ...      ...        ...      ...       ...      ...
Dask Name: drop-duplicates-agg, 5 tasks

In [27]:
%%time
# persist in memory
df = df.persist()
df.size.compute()

Wall time: 52.1 s

In [28]:
%%time
print("DataFrame size: {:,}".format(df.size.compute()))

DataFrame size: 2,862,926
Wall time: 12.7 ms

In [29]:
# get top 2 records
df.head(2)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,23418.0,JA334240,2017-07-04 18:39:00,002XX E 132ND ST,0110,HOMICIDE,FIRST DEGREE MURDER,AUTO,False,False,...,9.0,54.0,01A,1180186.0,1817915.0,2017.0,07/11/2017 03:48:22 PM,41.655619,-87.616339,"(41.65561938, -87.616339265)"
1,11013410.0,JA343213,2017-04-11 14:00:00,038XX N LINCOLN AVE,0810,THEFT,OVER $500,RESTAURANT,False,False,...,47.0,5.0,06,NaN,NaN,2017.0,07/11/2017 03:48:22 PM,NaN,NaN,NaN

In [30]:
# get last 2 records
df.tail(2)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
130131,10802618.0,JA100607,2017-01-01 13:00:00,003XX S HOYNE AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,2.0,28.0,06,NaN,NaN,2017.0,01/08/2017 03:48:20 PM,NaN,NaN,NaN
130132,10802303.0,JA101463,2017-01-01 19:00:00,011XX E BOWEN AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,4.0,36.0,07,NaN,NaN,2017.0,01/08/2017 03:48:20 PM,NaN,NaN,NaN

In [31]:
# strip out white space from column names
df = df.rename(columns={c: c.replace(' ', '') for c in df.columns})
df.head(2)

,ID,CaseNumber,Date,Block,IUCR,PrimaryType,Description,LocationDescription,Arrest,Domestic,...,Ward,CommunityArea,FBICode,XCoordinate,YCoordinate,Year,UpdatedOn,Latitude,Longitude,Location
0,23418.0,JA334240,2017-07-04 18:39:00,002XX E 132ND ST,0110,HOMICIDE,FIRST DEGREE MURDER,AUTO,False,False,...,9.0,54.0,01A,1180186.0,1817915.0,2017.0,07/11/2017 03:48:22 PM,41.655619,-87.616339,"(41.65561938, -87.616339265)"
1,11013410.0,JA343213,2017-04-11 14:00:00,038XX N LINCOLN AVE,0810,THEFT,OVER $500,RESTAURANT,False,False,...,47.0,5.0,06,NaN,NaN,2017.0,07/11/2017 03:48:22 PM,NaN,NaN,NaN

In [32]:
# list columns
df.columns

Index(['ID', 'CaseNumber', 'Date', 'Block', 'IUCR', 'PrimaryType',
       'Description', 'LocationDescription', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'CommunityArea', 'FBICode', 'XCoordinate',
       'YCoordinate', 'Year', 'UpdatedOn', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [33]:
# infer data types
df.dtypes

ID                            float64
CaseNumber                     object
Date                   datetime64[ns]
Block                          object
IUCR                           object
PrimaryType                    object
Description                    object
LocationDescription            object
Arrest                           bool
Domestic                         bool
Beat                          float64
District                      float64
Ward                          float64
CommunityArea                 float64
FBICode                        object
XCoordinate                   float64
YCoordinate                   float64
Year                          float64
UpdatedOn                      object
Latitude                      float64
Longitude                     float64
Location                       object
dtype: object

In [34]:
def unique_column_values(df):
    for column in df.columns:
        print("{} | {} | {}".format(
            df[column].name,
            len(df[column].unique()),
            df[column].dtype))

In [35]:
%%time
# print unique column values counts
print("Name | Unique # | Type")
unique_column_values(df)

Name | Unique # | Type
ID | 130133 | float64
CaseNumber | 130105 | object
Date | 57802 | datetime64[ns]
Block | 23684 | object
IUCR | 306 | object
PrimaryType | 32 | object
Description | 285 | object
LocationDescription | 120 | object
Arrest | 2 | bool
Domestic | 2 | bool
Beat | 274 | float64
District | 23 | float64
Ward | 51 | float64
CommunityArea | 78 | float64
FBICode | 26 | object
XCoordinate | 40181 | float64
YCoordinate | 51396 | float64
Year | 1 | float64
UpdatedOn | 337 | object
Latitude | 75019 | float64
Longitude | 75011 | float64
Location | 75026 | object
Wall time: 1.21 s

In [36]:
# reduce data set
select_columns = ['Date', 'Block', 'PrimaryType','Description', 'LocationDescription', 
                  'Arrest', 'Domestic', 'Latitude', 'Longitude']

In [37]:
df = df[select_columns]
print("{:,} total records".format(len(df)))
df.head(2)

130,133 total records

,Date,Block,PrimaryType,Description,LocationDescription,Arrest,Domestic,Latitude,Longitude
0,2017-07-04 18:39:00,002XX E 132ND ST,HOMICIDE,FIRST DEGREE MURDER,AUTO,False,False,41.655619,-87.616339
1,2017-04-11 14:00:00,038XX N LINCOLN AVE,THEFT,OVER $500,RESTAURANT,False,False,NaN,NaN

In [38]:
# drop duplicates
df = df.drop_duplicates() #.dropna()
print("{:,} total records".format(len(df)))
df.head(2)

129,956 total records

,Date,Block,PrimaryType,Description,LocationDescription,Arrest,Domestic,Latitude,Longitude
0,2017-07-04 18:39:00,002XX E 132ND ST,HOMICIDE,FIRST DEGREE MURDER,AUTO,False,False,41.655619,-87.616339
1,2017-04-11 14:00:00,038XX N LINCOLN AVE,THEFT,OVER $500,RESTAURANT,False,False,NaN,NaN

In [39]:
# count arrests
arrests_df = df[df.Arrest==True]
print("{:,} arrests".format(len(arrests_df)))
arrests_df.head()

25,162 arrests

,Date,Block,PrimaryType,Description,LocationDescription,Arrest,Domestic,Latitude,Longitude
36,2017-05-31 19:13:00,047XX W IRVING PARK RD,THEFT,RETAIL THEFT,DEPARTMENT STORE,True,False,NaN,NaN
76,2017-07-02 11:30:00,055XX W VAN BUREN ST,LIQUOR LAW VIOLATION,LIQUOR LICENSE VIOLATION,TAVERN/LIQUOR STORE,True,False,NaN,NaN
162,2017-07-04 23:04:00,070XX S LOWE AVE,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,True,False,41.766324,-87.640771
173,2017-07-04 21:29:00,126XX S HALSTED ST,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,True,False,41.664610,-87.641467
190,2017-07-04 23:42:00,049XX W RACE AVE,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,SIDEWALK,True,False,41.890448,-87.748911

In [40]:
# domestic violance
domestic_df = df[df.Domestic==True]
print("{:,} domestic violance reports".format(len(domestic_df)))
domestic_df.head()

21,439 domestic violance reports

,Date,Block,PrimaryType,Description,LocationDescription,Arrest,Domestic,Latitude,Longitude
57,2017-07-04 18:00:00,0000X E 103RD PL,THEFT,$500 AND UNDER,ALLEY,False,True,NaN,NaN
62,2017-06-29 02:00:00,025XX W 68TH ST,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,True,NaN,NaN
64,2017-07-02 14:00:00,052XX S DAMEN AVE,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,NaN,NaN
78,2017-06-21 03:00:00,015XX S KEDZIE AVE,BATTERY,DOMESTIC BATTERY SIMPLE,OTHER,False,True,NaN,NaN
85,2017-05-01 08:00:00,107XX S LANGLEY AVE,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,NaN,NaN

In [19]:
%%time
# convert Date to pandas datetime format
meta = ('Date', 'datetime64')
def parse_dates(df):
    return pd.to_datetime(df['Date'], dayfirst=True, infer_datetime_format=True)
                          #format='%m/%d/%Y %I:%M:%S %p')
#df.Date = pd.to_datetime(df.Date, format='%m/%d/%Y %I:%M:%S %p')
res = df.map_partitions(parse_dates, meta=meta).compute()

D:\tools\dev\python\Anaconda3-4.2.0\lib\site-packages\dask\dataframe\utils.py:232: FutureWarning: Passing in 'datetime64' dtype with no frequency is deprecated and will raise in a future version. Please pass in 'datetime64[ns]' instead.
  return pd.Series([], dtype=dtype, name=name, index=index)

Wall time: 51.6 s

In [41]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 9 entries, Date to Longitude
dtypes: datetime64[ns](1), object(4), bool(2), float64(2)

In [21]:
# convert Date to proper datetime type
df = df.astype({'Date': 'datetime64'})

D:\tools\dev\python\Anaconda3-4.2.0\lib\site-packages\pandas\core\internals.py:3224: FutureWarning: Passing in 'datetime64' dtype with no frequency is deprecated and will raise in a future version. Please pass in 'datetime64[ns]' instead.
  return self.apply('astype', dtype=dtype, **kwargs)

In [22]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 9 entries, Date to Longitude
dtypes: datetime64[ns](1), object(4), bool(2), float64(2)

In [45]:
# save to parquet
df.to_parquet('../data/Chicago-crimes-2017.parq')

In [46]:
%%time
df2 = dd.read_parquet('../data/Chicago-crimes-2017.parq')
print(len(df2))

129956
Wall time: 2.37 s

In [47]:
df2.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 9 entries, Date to Longitude
dtypes: datetime64[ns](1), object(4), bool(2), float64(2)

In [48]:
unique_column_values(df2)

Date | 57802 | datetime64[ns]
Block | 23684 | object
PrimaryType | 32 | object
Description | 285 | object
LocationDescription | 120 | object
Arrest | 2 | bool
Domestic | 2 | bool
Latitude | 75019 | float64
Longitude | 75011 | float64